---
layout: page
title: Blog

---

{% for post in paginator.posts %}
  
    <h1 class="title">
      <a href="/hack-weekends/{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
    </h1>
    
    <i><span class="small">on</span> <span class="post-date">{{ post.date | date:"%Y-%m-%d" }}</span></i>

    {{ post.content | strip_html | truncatewords: 150 }}

    <hr />
  
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next ">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>